.wrapper {
  margin: 0 auto;
  width: 90%;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.childItems {
}

.App-link {
  color: #09d3ac;
}
.ag-theme-balham .ag-icon-menu:before {
  content: "";
}